<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 注册school -->
	<bean id="school" class="com.study.spring3.School">
		<property name="sname" value="桂电"></property>
		<property name="saddress" value="桂林"></property>
	</bean>
	
	<!-- 注册student -->
	<bean id="student" class="com.study.spring3.Student">
		<property name="name" value="小万"></property>
		<property name="age" value="22"></property>
		<!-- 注入对象，ref表示引用 -->
		<property name="school" ref="school"></property>
		<!-- 注入数组属性 -->
		<property name="array">
			<array>
				<value>数组</value>
				<value>注入</value>
				<value>测试</value>
			</array>
		</property>
		<!-- 注入list属性 -->
		<property name="list">
			<list>
				<value>list</value>
				<value>注入</value>
				<value>测试</value>
			</list>
		</property>
		<!-- 注入map属性 -->
		<property name="map">
			<map>
				<entry key="map1" value="mapTest"></entry>
				<entry key="map2" value="mapTest2"></entry>
			</map>
		</property>
		<!-- 注入properties属性 -->
		<property name="pp">
			<props>
				<prop key="pp1">pptest1</prop>
				<prop key="pp2">pptest2</prop>
			</props>
		</property>	
	</bean>


</beans>